<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="full-size no-padding">
<head>
    <title>Baby-o-matic</title>

<!-- CSS -->

<link type="text/css" rel="stylesheet" href="/css/main.css">

<!-- JS -->
<script type="text/javascript" src="/javascripts/underscore-min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.multiselect.js"></script>


<script type="text/javascript" src="/javascripts/shred.bundle.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
</head>
<body id="main-body">
    <%= yield %>
</body>
</html>